<h1 class="text-center">Register New Account</h1>

<div class="container">
  <div class="row">
    
    <h1>Register</h1>
      <div class="col-xs-6" style="background-color:lavender;">
        <div ng-if="vm.message" class="alert alert-success" role="alert">
          <p>{{ vm.message }}</p>
        </div>
        <div ng-if="vm.error" class="alert alert-danger" role="alert">
          <p>{{ vm.error }}</p>
        </div>

    <form ng-hide="vm.message" name="register" ng-submit="vm.register()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="username" required class="form-control" id="username" placeholder="Username" ng-model="vm.username" autocapitalize="none">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" required class="form-control password" id="password" placeholder="Password" ng-model="vm.password" autocapitalize="none">
        </div>
        <div class="form-group">
          <label for="password-repeat">Repeat Password</label>
          <input type="password" required class="form-control" id="password-repeat" placeholder="Password" ng-model="vm.passwordRepeat" autocapitalize="none">
          <button type="submit" class="btn btn-success">Register</button>
        </div>
      </form>
    </div>
    
    
    <div class="col-xs-6" style="background-color:lavenderblush;">
        <div class="col-sm-6">
    	  <ul class="helper-text">
  		    <li class="length">Must be at least 8 characters long.</li>
  		    <li class="lowercase">Must contain a lowercase letter.</li>
  		    <li class="uppercase">Must contain an uppercase letter.</li>
  		    <li class="special">Must contain a number or special character.</li>
	      </ul>
    </div>
    </div>
  
  
  </div>
</div> 


    
        
  
  
  
