.story {
    width:51%;
    margin-top:30px;
    font-size:20px;
    border-bottom-style:solid;
    border-width:0.5px;
    padding:20px;
    float: right;
}
.himage {
    height: 120px;
    width : 150px;
}
#mySideBar{
    float: left;
    height: 100%;
}
#dashboardTable{
    margin-left: 20%;
    margin-right: 30%;
}